body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-image: url(../assets/back.jpeg);
    /* background-size: cover; */
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

#nav-bar{
    display: flex;
    position: relative;
    justify-content:space-between;  
    background-color:rgb(215, 182, 224);
    font-family: "Times New Roman", Times, serif;
  }
  
  
  /* h1{
    position: relative;
    margin-left: 1.5rem;
  } */
  
  #home-link{
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    margin-right: 3rem;
    position: relative;
    top: 1rem;
    font-weight: 700;
    color: black;    
  }
  
  #logo img{
    height: 4rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
    
  }
  
  #logo{
    display: flex;
    margin-left: 2rem;
  }



  /* recipes div  */

  /* styling recipes div */

#recipes {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4,2);
  justify-content: center;
  background-color: none;
}

.recipe img {
  display: block;
  margin: auto;
  width: 20rem;
  grid-template-columns: auto;
  border-radius: 50%;
  justify-content: center;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.name {
  padding: 0;
  margin: 0.5rem;
}

.region {
  padding: 1rem;
  margin: 0.5rem;
}

.recipe a {
  text-decoration: none;
  justify-content: center;
  text-align: center;
  color:  #111;
}

/* fav button style */

.add-fav{
  border: none;
  background: none;
}

.add-fav i{
  font-size: 1.5rem;
}
@media only screen and (max-width: 1000px) {
    #recipes {
      margin-top: 2rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto auto;
      background-color:  rgb(226, 205, 226);
    }
    
  }
  
  @media only screen and (max-width: 768px) {
    #recipes {
      margin-top: 2rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto;
      background-color:  rgb(226, 205, 226);
    }
}  
footer{
  background-color: none;
}
  .footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .socialIcons{
    display: flex;
    justify-content: center;
  
  }
  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i{
    font-size: 2 rem;
    color: black;
    opacity: 0.9;
  }
  /*Hover Effects on Soial Media Icons */
  .socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;

  }
  .footerNav{
    margin: 30px 0;

  }
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .footerNav ul li a{
    color: #111;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  .footerNav ul li a:hover{
    opacity: 1;
  }

  #footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  .footerBottom p{
    color: black;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;;
  }
  @media (max-width:700px) {
    .footerNav ul{
      flex-direction: column;
    }
    .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  }
